@model AtosMVC.Models.AccountModel

@{
    ViewBag.Title = "Home Page";
}

<br />
<h2>Q1</h2>
<p>
    @Html.ActionLink("新增", "Create")
</p>

<h2>Q2</h2>
@Html.ActionLink("新增2", "Create2")


<h2>Q3</h2>
<body>
    <form id="uploadForm" enctype="multipart/form-data">
        檔案:<input id="file" type="file" name="file" />
    </form>
    <button id="upload">上傳檔案</button>
</body>


<script type="text/javascript">
    $(function () {
        $("#upload").click(function () {
            var formData = new FormData($('#uploadForm')[0]);
            $.ajax({
                type: 'post',
                url: "/Home/upload",
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                error: function () {
                    alert("上傳失敗");
                },
                success: function (data) {
                    alert(data);
                }
            })
        });
    });
</script>


@*載入套件*@
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

@*<form method="get" action="/Home/Create">
        <div>
            <label>帳號:</label>
            <input name="acc" type="text" />
        </div>
        <div>
            <label>生日:</label>
            <input name="birthday" type="text" />
        </div>
        <div>
            <label>性別:</label>
            <input name="sex" type="text" />
        </div>
        <div>
            <input value="註冊" type="submit" />
        </div>
    </form>*@

