@model GSSWEB.ViewModels.BorrowRecordModel

<table class="table">
    <tr>
        <th>Lend Date</th>
        <th>Keeper ID</th>
        <th>Keeper Ch. Name</th>
        <th>Keeper En. Name</th>
    </tr>
    @{
        if (Model.BookBorrowRecord.Count() > 0)
        {
            foreach (var item in Model.BookBorrowRecord)
            {
                <tr>
                    <td>@Convert.ToDateTime(item.lend_date).ToString("yyyy/MM/dd")</td>
                    <td>@item.user_id</td>
                    <td>@item.user_cname</td>
                    <td>@item.user_ename</td>
                </tr>
            }
        }
    }
</table>

